{
  "tabWidth": 2,
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "plugins": ["prettier-plugin-tailwindcss"]
}

